
/* Tailwind v4: load everything with the new import */
@import "tailwindcss";

@import "./styles/global.css";
@import "./styles/buttons.css";
@import "./styles/GameLogger.css";
@import "./styles/Practice.css";